*{
    margin: 0px;
    padding: 0px;
}

/* Font collection */
.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* New-year-container */
.tsection{
  position: relative;
}

.new-year-container{
  width: 1320px;
  height: 600px;
  background-image: url(images/Banner\ Image.png);
  margin-top: 50px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}
.gradient-bg{
  background-image: linear-gradient(#070211,#07021181,#07021100);
  width: 1320px;
  height: 600px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
} 

.container-content{
  color: white;
  height: 245px;
  width: 630px;

  padding: 100px;
  text-align: center;
  margin-left: 250px;
}

.container-content,p{
  font-size: 32px;
  margin-top: 30px;
  font-weight: normal;
  color: #FFFFFF;
}

.container-content,h2{
  font-size: 72px;
  font-weight: 700px;
  line-height: 95px;
  color: #FFFFFF;
}



/* Offer Container */

.offer-container{
  height: 880px;
  width: 802px;
  margin: 0px auto;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.catagoryes{
  margin-top: 48px;
  margin-bottom: 48px;
}


#percentage{
  font-size: 88px;
  font-weight: bold;
  color: #ff0000;
}

#color-paragraph{
  color: #ff0000;
  font-weight: 500px;
  font-size: 24px;
}
#catagory{
  font-size: 48px;
  font-weight: bold;
  color: #070211;
}

/* Welcome party */

.new-year-container2{
  width: 1320px;
  height: 600px;
  background-image: url(images/Vectorrr.png);
  margin-top: 50px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.joinParty-container{
  padding: 100px 126px;
  display: flex;
  gap: 40px;
  align-items: center;
}

#welcome-title{
  font-size: 64px;
  line-height: 88px;
  letter-spacing: 11%;
  color: #ffffff;
}

#welcome-description{
   line-height: 30px;
   font-size: 18px;
   font-weight: 400px;
   color: #ffffff80;
}

#button-join{
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  border: none;
  background: none;
  margin-top: 48px;
  margin-left: 32px;
  cursor: pointer;
}
