*{
    margin: 0px;
    padding: 0px;
}

/* Font collection */
.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* New-year-container */
.tsection{
  position: relative;
}

.new-year-container{
  width: 1320px;
  height: 600px;
  background-image: url(images/Banner\ Image.png);
  margin-top: 50px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}
#firstp{
  color: #FFFFFF;
  font-weight: 400;
}
.gradient-bg{
  background-image: linear-gradient(#070211,#07021181,#07021100);
  width: 1320px;
  height: 600px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
} 

.container-content{
  color: white;
  height: 245px;
  width: 630px;
  padding: 100px;
  text-align: center;
  margin-left: 250px;
}

.container-content,p{
  font-size: 32px;
  margin-top: 30px;
  font-weight: normal;
  color: #FFFFFF;
}

.container-content,h2{
  font-size: 72px;
  font-weight: 700px;
  line-height: 95px;
  color: #FFFFFF;
}



/* Offer Container */

.offer-container{
  height: 880px;
  width: 802px;
  margin: 0px auto;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.catagoryes{
  margin-top: 48px;
  margin-bottom: 48px;
}


#percentage{
  font-size: 88px;
  font-weight: bold;
  color: #ff0000;
}

#color-paragraph{
  color: #ff0000;
  font-weight: 500;
  font-size: 24px;
}
#catagory{
  font-size: 48px;
  font-weight: bold;
  color: #070211;
}

/* Welcome party */

.new-year-container2{
  width: 1320px;
  height: 600px;
  background-image: url(images/Vectorrr.png);
  margin-top: 50px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
}

.joinParty-container{
  padding: 100px 126px;
  display: flex;
  gap: 40px;
  align-items: center;
}

#welcome-title{
  font-size: 64px;
  line-height: 88px;
  letter-spacing: 11%;
  color: #ffffff;
}

#welcome-description{
   line-height: 30px;
   font-size: 18px;
   font-weight: 400px;
   color: #ffffff80;
}

#button-join{
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  border: none;
  background: none;
  margin-top: 48px;
  margin-left: 32px;
  cursor: pointer;
}


/* location and time */

.new-year-container3{
  width: 1320px;
  height: 480px;
  background-image: linear-gradient(#ff00002c,#ff000000);
  margin-top: 50px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
 border-radius: 16px;
  text-align: center;
}

.time-date span{
  font-size: 32px;
  color: #ff0000;
  font-weight: bold;
  line-height: 40px;
}

.time-date,p,span{
  font-size: 32px;
  color: #070211;
  font-weight: bold;
  line-height: 40px;
}

.time-date{
  height: 272px;
  width: 520px;
  align-items: center;
  padding: 80px 350px;
}

#button-join2{
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #FF0000;
  cursor: pointer;
  height: 56px;
  width: 167px;
  border-radius: 8px;
  border: none;
  margin-top: 50px;
  padding-bottom: 16px 32px;
}


#button-join2:hover{
 background-color: rgb(168, 11, 216);
 transition: 1s;
}

#button-join:hover{
 background-color: rgba(201, 110, 6, 0.84);
 transition: .5s;
 border-radius: 5px;
 padding: 10px;
}

/* Holiday sells */

.new-year-container4{
  width: 1320px;
  height: 470px;
  margin-top: 50px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  padding: 10px;
}

/* Best Offer */
.best-offers{
  text-align: left;
  width: 500px;
}

.emoji-2024{
   text-align: left;
   width: 400px;
   margin-left: 25px;
   
 }

 .all-offer-here{
  display: flex;
  align-items: center;
  gap: 5px;
 }

 #comesoon{
  font-size: 48px;
  color: #070211;
  font-weight: 900px;
  margin-bottom: 20px;
 }

 #emoji{
  height: 140px;
  width: 140px;
  margin-top: 25px;
 }
 .emoji-2024,span{
  color: #FF0000;
 }


 .circle-frame{
  height: 460px;
  width: 460px;
  border: 20px solid #FF0000;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


 #circle_img{
  width: 90%;
  height: 90%;
  border-radius: 50%;
}

#welcome-description2{
   line-height: 32px;
   font-size: 20px;
   font-weight: 400px;
   color: #07021160;
}

/* Portfolio feature */
.new-year-container5{
  width: 1320px;
  height: 1160px;
  margin-top: 50px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  padding: 10px;
  border-radius: 16px;
 
  
}

.portfolio-title{
  text-align: left;
  margin-bottom: 40px;
}

.all-feature{
  display: flex;
  flex-wrap:wrap;
  gap: 15px;
  
}


/* Hollyday box */

.new-year-container-last{
  width: 1320px;
  height: 1000px;
  margin-top: 50px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  padding: 10px;
}

.red-box {
  background: red;
  padding: 60px ;
  border-radius: 10px;
  height: 130px;
  margin-top: 750px;
}

.content {
  display: flex;
  align-items: flex-start;
  gap: 350px;
}

.gift-box {
  width: 500px; 
  height:auto;
  margin-top: -300px;
}

.shadow {
  width: 500px;
  height: 40px;
  background: rgba(0, 0, 0, 0.224);
  border-radius: 50%;
  filter: blur(10px);
  position: absolute;
}

.discount-badge {
  width: 300px;
  margin-top: -500px;
}


 .holiday-sale{
  width: 1068px;
  height: 260px;
  align-items: center;
  text-align: center;
 }



 .new-year-container-last2{
  width: 1320px;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  position: relative;
  bottom: -300px;
}

#description{
  color:rgba(7, 2, 17, 0.6) ;
  font-size: 20px;
  font-weight: 400;
}

 .holiday-sale{
  width: 1068px;
  height: 260px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

#holyday{
  font-size: 72px;
  font-weight: 900;
  color: #070211;
}

#span-holy{
  color: #FF0000;
  font-size: 72px;
  font-weight: 900;
  
}

#function{
  font-size: 24px;
  font-weight: 500;
  color: #070211;
}

/* subscribe part */
.new-year-container6{
  width: 1320px;
  height: 620px;
  margin-top: 50px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 0, 0, 0.05);
  border-radius: 16px;
}

.mssage-box{
  padding: 40px;
}

.search-subscribe{
  height: 72px;
  width: 650px;
  display: flex;
  border-radius: 36px;
  overflow: hidden;
  margin-left: 300px;
}


.search-subscribe input{
  padding-left:30px;
  margin-left: 0px;
  border: none;
  outline: none;
  font-size: 18px;
  width: 500px;
  border-radius: 36px 0 0 36px;
}

.search-subscribe button{
  width: 210px;
  background-color: #FF0000;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 20px;
  border: none;
  cursor: pointer;
  border-radius: 0 36px  36px 0;
}

/* Footer */
.new-year-container7{
  height: 620px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  background-color: #070211;
}

#part1and2{
  font-size: 24px;
  font-weight: 500px;
  line-height: 15px;
  color: #FFFFFF;
}

#part1and2 img{
  margin-right: 10px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
}

.footer-content1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:100px 300px;
}

.footer-content2{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 15px;
  gap: 30px;
}

.part3{
  display: flex;
  justify-content: space-between;
  padding-left: 300px;
  padding-right: 300px;
  margin-top: 50px;
}

hr {
  height: 2px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #2d2a32;
  opacity: 0.7; 

}

#button-join-last{
  font-size: 24px;
  font-weight: 500px;
  color: #FFFFFF;
  border: none;
  background: none;
  margin-top: 10px;
  cursor: pointer;
}